.categoriesPreview-container {
  margin-top: 48px;
  padding: 0 24px;
}

.categoriesPreview-title {
  text-align: center;
  text-shadow: 0 0 10px #d5d5de;
  font-size: 1.5rem;
  margin-bottom: 24px;
  border-bottom: 1px solid #ccc;
}
.categoriesPreview-list,
.categories-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}

.category-container {
  width: 45%;
}
.category-title {
  margin-bottom: 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category-title::before {
  content: "••••";
  color: transparent;
  background-color: var(--idColor);
  border-radius: 8px;
  margin-right: 8px;
  width: 8px;
  height: 8px;
}

.category-container--loading {
  background: var(--purple-light-2);
  border-radius: 8px;
  height: 25px;
  min-height: 25px;
  max-height: 25px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  margin-bottom: 15px;
  animation: loading-skeleton infinite 1.5s;
}
.category-container--loading:nth-child(2) {
  animation-delay: 0.2s;
}

@keyframes loading-skeleton {
  0%,
  100% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
