footer {
  background-color: var(--purple-medium-3);
  color: var(--purple-light-2);
  text-align: center;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
