* {
  box-sizing: border-box;
}
html {
  background-color: var(--purple-medium-3);
}
body {
  background: linear-gradient(45deg, #000, #131124, #000);
  color: var(--purple-dark-2);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text1);
  font-size: 16px;
  margin: 4px 0 0;
  padding: 0;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
h1,
h2 {
  font-size: 24px;
  color: var(--purple-dark-2);
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-title1);
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 18px;
  color: var(--purple-dark-1);
  font-weight: var(--font-weight-title2);
}
h3 {
  color: var(--purple-dark-2);
  font-weight: var(--font-weight-text2);
  font-size: 16px;
}
input {
  background-color: var(--purple-light-2);
  color: var(--purple-medium-2);
  border: none;
  font-size: 18px;
  padding-left: 16px;
}
input::placeholder {
  color: var(--purple-medium-1);
  font-family: var(--font-family-text);
}
button {
  background-color: var(--purple-dark-1);
  border: none;
  color: var(--purple-light-2);
  font-weight: var(--font-weight-text2);
  font-size: 14px;
  cursor: pointer;
}

a,
h1,
h2,
h3 {
  color: #fff;
  letter-spacing: 3px;
  text-shadow: 0 0 15px #131124;
}
